@import url("https://fonts.googleapis.com/css?family=VT323");

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin: 0;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323" !important;
  line-height: 1;
}
